---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <div class="desc">
            <!-- {% assign desc = page.subtitle | append: "<br>" | append: page.description %}
            {{ desc }} -->
            <p style="color: dimgray; margin-top: 0px; margin-bottom: 0px;">{{ page.subtitle }}</p>
            <div id="emailLinkContainer"></div>
            <script>
              // Get the text from the element
              var emailText = "{{ page.email }}";

              // Replace ' AT ' with '@' and ' DOT ' with '.'
              var formattedEmail = emailText.replace(/ AT /g, "@").replace(/ DOT /g, ".");

              // Create the mailto link and set its properties
              var mailtoLink = document.createElement('a');
              mailtoLink.href = "mailto:" + formattedEmail;
              mailtoLink.target = "_blank";
              mailtoLink.style.color = "dimgray";
              mailtoLink.style.marginTop = "0px";
              mailtoLink.style.marginBottom = "25px";
              mailtoLink.style.display = "inline-block";
              mailtoLink.textContent = "Email: " + emailText;

              // Append the mailto link to the container
              document.getElementById('emailLinkContainer').appendChild(mailtoLink);
            </script>
          </div>
        </header>

        <article>
          <div class="page-layout">
            <!-- Left Column -->
            <div class="content">
              {{ content }}
            </div>

            <!-- Middle Column -->
            {% if page.profile -%}
            <div class="profile-wrapper">
              <div class="profile">
                {%- if page.profile.image %}
                  {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
                  {% if page.profile.image_circular %}
                    {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
                  {% else %}
                    {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
                  {% endif %}
                  {% include figure.html
                  path=profile_image_path
                  class=profile_image_class
                  alt=page.profile.image
                  cache_bust=true -%}
                {% endif -%}

                {%- if page.profile.more_info %}
                <div class="more-info">
                  {{ page.profile.more_info }}
                </div>
                {%- endif %}
              </div>
            </div>
            {%- endif %}

            <!-- Contact Icons -->
            {% if page.social %}
            <div class="contact-icons">
              {% include social.html %}
            </div>
            {% endif %}
        </div>
          
          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2 style="color: inherit; margin-top: 20px;">News</h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          <!-- {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %} -->

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2 style="color: inherit; margin-top: 20px;">Selected publications</h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <!-- <div class="contact-icons">
                {% include social.html %}
              </div> -->

              <div class="contact-note">
                {{ site.contact_note }}
                <div id="myMapContainer" style="width: 260px; margin: 0 auto;">
                  <!-- <script type="text/javascript" id="clustrmaps" src="https://cdn.clustrmaps.com/map_v2.js?cl=080808&w=260&t=m&d=8JiMkH38h6PL8dcPkZ6iAN6Wzx1wWCTOXHRFl4jBd14&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=000000"></script> -->
                  <a href="https://clustrmaps.com/site/1by06"  title="Visit tracker"><img src="https://clustrmaps.com/map_v2.png?cl=080808&w=260&t=m&d=8JiMkH38h6PL8dcPkZ6iAN6Wzx1wWCTOXHRFl4jBd14&co=ffffff&ct=000000" /></a>
                </div>
              </div>

            </div>
          {%- endif %}
        </article>

</div>
